In [691]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
dayfirst=True
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
pivot = melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='mean',
    fill_value=0)
max_unit_price = pivot['u'].max()
print(pivot[pivot['u'] == max_unit_price].index[0])

Scott

In [692]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
popular_stypes =melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_stypes else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category') 
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: category(1), float64(6), int64(8), object(8)
memory usage: 2.3+ MB

None

In [693]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_fe.csv', sep=',')
melb_df = melb_data.copy()
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
pivot = melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='mean',
    fill_value=0)
max_unit_price = pivot['unit'].max()
print(pivot[pivot['unit'] == max_unit_price].index[0])

Nick

In [694]:
import pandas as pd
movies = pd.read_csv(‘data/movies.csv’, sep=‘,’), sep=',')
ratings1 = pd.read_csv('data/ratings1.csv', sep=',')
ratings2 = pd.read_csv('data/ratings2.csv', sep=',')
dates = pd.read_csv('data/dates.csv', sep=',')
ratings = pd.concat(
    [ratings1, ratings2],
    ignore_index=True
)
ratings = ratings.drop_duplicates(ignore_index=True)
ratings_dates = pd.concat([ratings, dates], axis=1)
dates['Date'] = pd.to_datetime(dates['Date'])
years = dates['Date'].dt.year
print('Mode year:', years.mode()[0])

SyntaxError: invalid character '‘' (U+2018) (999427813.py, line 2)

In [ ]:
import pandas as pd
movies = pd.read_csv('data/movies.csv', sep=',')
ratings1 = pd.read_csv('data/ratings1.csv', sep=',')
ratings2 = pd.read_csv('data/ratings2.csv', sep=',')
dates = pd.read_csv('data/dates.csv', sep=',')
ratings = pd.concat(
    [ratings1, ratings2],
    ignore_index=True
)
ratings = ratings.drop_duplicates(ignore_index=True)
ratings_dates = pd.concat([ratings, dates], axis=1)
ratings_dates['date'] = pd.to_datetime(ratings_dates['date'])
merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)
display(merged.head())

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [ ]:
import pandas as pd
products_df = pd.read_csv('data/products.csv', sep=';')
orders_df = pd.read_csv('data/orders.csv', sep=';')
orders_products = orders_df.merge(
    products_df, 
    left_on='ID товара',
    right_on='Product_ID',
    how='left')
orders_products.tail(1)['Order ID']

17    0
Name: Order ID, dtype: int64

In [ ]:
import pandas as pd
ratings_movies = pd.read_csv('data/ratings_movies.csv', sep=',')
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])
ratings_movies['year_rating'] = ratings_movies['date'].dt.year
pivot = ratings_movies.pivot_table(
    index='year_rating',
    columns='genres',
    values='rating',
    aggfunc='mean'
)
display(pivot)

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
year_rating,,,,,,,,,,,,,,,,,,,,,
1996,NaN,2.730769,3.454545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.666667,NaN,3.838095,NaN,3.117647
1997,NaN,3.538462,4.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.400000,NaN,3.923077,NaN,3.000000
1998,NaN,NaN,4.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.800000,NaN,NaN
1999,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,NaN,NaN,NaN,NaN,4.000000,NaN,3.700000,4.5,4.000000
2000,NaN,2.588235,3.738462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000,NaN,3.0,3.416667,NaN,2.142857,NaN,3.087912,3.0,4.058824
2001,NaN,3.000000,3.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,2.500000,NaN,2.500000,NaN,3.477273,3.0,3.111111
2002,NaN,2.750000,4.304348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000,NaN,NaN,3.750000,NaN,3.600000,NaN,3.583333,3.5,3.000000
2003,NaN,3.833333,3.277778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.375,2.5,NaN,2.333333,NaN,3.142857,NaN,3.250000,3.0,4.000000
2004,NaN,2.700000,4.136364,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,...,3.000,3.0,3.5,2.125000,NaN,NaN,NaN,3.464286,3.0,3.800000
2005,NaN,3.357143,3.413043,NaN,NaN,4.107143,NaN,NaN,NaN,NaN,...,2.000,NaN,NaN,3.000000,NaN,2.750000,NaN,3.411765,NaN,4.500000
2006,NaN,2.166667,4.090909,NaN,NaN,3.833333,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,0.500000,NaN,4.500000,NaN,3.735294,NaN,3.625000
2007,NaN,2.583333,3.666667,NaN,NaN,3.846154,3.000000,NaN,NaN,2.8,...,1.500,NaN,2.5,3.375000,NaN,2.833333,NaN,3.421875,NaN,3.000000
2008,NaN,3.000000,3.656250,NaN,NaN,4.125000,4.000000,NaN,NaN,3.5,...,NaN,NaN,NaN,3.125000,NaN,3.000000,NaN,3.333333,NaN,4.000000
2009,NaN,NaN,3.714286,NaN,NaN,3.900000,NaN,3.250000,NaN,2.5,...,NaN,NaN,NaN,2.000000,NaN,4.000000,NaN,2.964286,4.0,3.375000
2010,NaN,3.500000,3.437500,NaN,NaN,4.333333,NaN,3.500000,3.000000,NaN,...,NaN,NaN,NaN,4.000000,NaN,2.500000,NaN,2.833333,NaN,3.666667
2011,NaN,4.500000,3.888889,NaN,NaN,3.500000,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,3.500000,NaN,1.833333,4.000000,3.625000,NaN,4.000000
2012,NaN,2.625000,3.900000,NaN,4.000000,3.785714,NaN,3.550000,4.000000,NaN,...,2.500,NaN,NaN,4.166667,NaN,3.500000,3.666667,3.083333,NaN,4.100000
2013,NaN,2.500000,3.833333,NaN,3.000000,4.333333,NaN,5.000000,NaN,NaN,...,NaN,NaN,NaN,1.500000,NaN,3.833333,4.000000,3.666667,NaN,4.000000
2014,NaN,NaN,3.875000,3.000,3.500000,3.250000,3.833333,3.500000,4.000000,NaN,...,NaN,NaN,NaN,2.500000,5.000000,NaN,4.000000,4.000000,NaN,4.000000
2015,0.500000,3.100000,3.560976,3.800,3.666667,3.565217,3.833333,3.375000,2.333333,2.5,...,NaN,NaN,NaN,2.900000,4.071429,3.764706,4.000000,2.911765,NaN,3.900000
2016,3.500000,3.545455,3.722222,3.750,3.833333,3.925000,3.388889,3.666667,1.000000,4.0,...,2.500,NaN,NaN,3.555556,3.807692,3.916667,3.666667,3.432432,NaN,3.958333
2017,3.000000,2.637931,3.527778,3.375,3.500000,3.676471,3.700000,1.000000,1.000000,2.0,...,3.000,NaN,NaN,3.864865,4.264706,3.750000,2.500000,3.152174,NaN,2.933333
2018,3.676471,2.588235,3.397436,3.650,3.166667,3.741935,4.142857,3.700000,2.500000,4.0,...,NaN,NaN,NaN,3.128571,3.500000,3.562500,NaN,3.296296,NaN,3.611111

In [ ]:
import pandas as pd
purchase_df = pd.read_csv('data/purchase.csv', sep=',')
events_df = pd.read_csv('data/7_4_Events.csv', sep=',')
condition = (events_df.start_time >= '2018-01-01') & (events_df.start_time < '2019-01-01') & (events_df.event_type =='registration')
registered = events_df[condition]['user_id'].to_list()
events_2018 = events_df[events_df.user_id.isin(registered)]
events_2018.start_time = pd.to_datetime(events_2018.start_time, format='%Y-%m-%dT%H:%M:%S')
purchase_2018 = purchase_df[purchase_df['user_id'].isin(registered)]
registered_users_count = events_2018[events_2018["event_type"] == "registration"][
    "user_id"
].nunique()
tutorial_start_users_count = events_2018[events_2018["event_type"] == "tutorial_start"][
    "user_id"
].nunique()
tutorial_finish_users_count = events_2018[events_2018["event_type"] == "tutorial_finish"][
    "user_id"
].nunique()
level_choice_users_count = events_2018[events_2018["event_type"] == "level_choice"][
    "user_id"
].nunique()
training_choice_users_count = events_2018[events_2018["event_type"] == "pack_choice"][
    "user_id"
].nunique()
paying_users_count = purchase_2018["user_id"].nunique()
percent_of_paying_users = paying_users_count / training_choice_users_count
purchase_2018["event_type"] = 'purchase'
events_2018 = events_2018.rename(columns={"id": "event_id"})
purchase_2018 = purchase_2018.rename(columns={"id": "purchase_id"})
total_events_df = pd.concat([events_2018,purchase_2018],sort=False)
total_events_df = total_events_df.reset_index(drop=True).sort_values('start_time')
user_path_df = (
    total_events_df.groupby(["user_id"])["event_type"].apply(list).reset_index()
)
user_path_df["event_path"] = user_path_df["event_type"].apply(lambda x: " > ".join(x))
user_paths = (
    user_path_df.groupby(["event_path"])["user_id"]
    .nunique()
    .sort_values(ascending=False)
)
registration_df = total_events_df[total_events_df['event_type'] == 'registration']
registration_df = registration_df[["user_id", "start_time"]].rename(
    columns={"start_time": "registration_time"})
tutorial_start_df = total_events_df[total_events_df['event_type'] == 'tutorial_start']
tutorial_start_df['user_id'].value_counts().mean()
tutorial_start_df_wo_duplicates = tutorial_start_df.sort_values(
    "start_time"
).drop_duplicates("user_id")
tutorial_start_df_wo_duplicates = tutorial_start_df_wo_duplicates[
    ["user_id", "tutorial_id", "start_time"]
].rename(columns={"start_time": "tutorial_start_time"})
merged_df = registration_df.merge(tutorial_start_df_wo_duplicates, on="user_id", how="inner")
merged_df["timedelta"] = (merged_df["tutorial_start_time"] - merged_df["registration_time"])
tutorial_finish_df = total_events_df[total_events_df["event_type"] == "tutorial_finish"]
first_tutorial_ids = tutorial_start_df_wo_duplicates["tutorial_id"].unique()
tutorial_finish_df = tutorial_finish_df[
    tutorial_finish_df["tutorial_id"].isin(first_tutorial_ids)]
tutorial_finish_df['user_id'].value_counts().mean()
tutorial_finish_df = tutorial_finish_df[["user_id", "start_time"]].rename(
    columns={"start_time": "tutorial_finish_time"}
)
merged_df_2 = tutorial_start_df_wo_duplicates.merge(
    tutorial_finish_df, on="user_id", how="inner"
)
merged_df_2["timedelta"] = (
    merged_df_2["tutorial_finish_time"] - merged_df_2["tutorial_start_time"]
)
merged_df_2.head()
level_choice_df = total_events_df[total_events_df["event_type"] == "level_choice"]
print(level_choice_df["user_id"].value_counts().mean())
level_choice_df = level_choice_df[["user_id", "start_time"]].rename(
    columns={"start_time": "level_choice_time"}
)
merged_df_3 = registration_df.merge(level_choice_df, on="user_id", how="inner")
merged_df_3["timedelta"] = (
    merged_df_3["level_choice_time"] - merged_df_3["registration_time"]
)
tutorial_pack_df = total_events_df[total_events_df["event_type"] == "pack_choice"]
tutorial_pack_df = tutorial_pack_df[["user_id", "start_time"]].rename(columns={"start_time": "tutorial_pack_time"})
merged_df_4 = tutorial_pack_df.merge(level_choice_df, on="user_id", how="inner")
merged_df_4["timedelta"] = (
    merged_df_4["tutorial_pack_time"] - merged_df_4["level_choice_time"]
)
first_purchase_df = total_events_df[total_events_df['event_type'] == 'purchase']
print(first_purchase_df["user_id"].value_counts().mean())
first_purchase_df = first_purchase_df[["user_id", "start_time"]].rename(
    columns={"start_time": "first_purchase_time"}
)
merged_df_5 = tutorial_pack_df.merge(first_purchase_df, on="user_id", how="inner")
merged_df_5["timedelta"] = (merged_df_5["first_purchase_time"] - merged_df_5["tutorial_pack_time"]
)
print(merged_df_5["timedelta"].mean())
print(merged_df_5["timedelta"].describe())

/var/folders/2t/41ymw9416szdry3f82rfxvr80000gn/T/ipykernel_20719/3701609911.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_2018.start_time = pd.to_datetime(events_2018.start_time, format='%Y-%m-%dT%H:%M:%S')
/var/folders/2t/41ymw9416szdry3f82rfxvr80000gn/T/ipykernel_20719/3701609911.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_2018["event_type"] = 'purchase'

1.0
1.0
NaT
count      0
mean     NaT
std      NaT
min      NaT
25%      NaT
50%      NaT
75%      NaT
max      NaT
Name: timedelta, dtype: object

In [ ]:
import pandas as pd
purchase_df = pd.read_csv('data/purchase.csv', sep=',')
events_df = pd.read_csv('data/7_4_Events.csv', sep=',')
condition = (events_df.start_time >= '2018-01-01') & (events_df.start_time < '2019-01-01') & (events_df.event_type =='registration')
registered = events_df[condition]['user_id'].to_list()
events_2018 = events_df[events_df.user_id.isin(registered)]
events_2018.start_time = pd.to_datetime(events_2018.start_time, format='%Y-%m-%dT%H:%M:%S')
purchase_2018 = purchase_df[purchase_df['user_id'].isin(registered)]
purchase_2018.event_datetime = pd.to_datetime(purchase_2018.event_datetime, format='%Y-%m-%dT%H:%M:%S')
registered_users_count = events_2018[events_2018["event_type"] == "registration"][
    "user_id"
].nunique()
tutorial_start_users_count = events_2018[events_2018["event_type"] == "tutorial_start"][
    "user_id"
].nunique()
tutorial_finish_users_count = events_2018[events_2018["event_type"] == "tutorial_finish"][
    "user_id"
].nunique()
level_choice_users_count = events_2018[events_2018["event_type"] == "level_choice"][
    "user_id"
].nunique()
training_choice_users_count = events_2018[events_2018["event_type"] == "pack_choice"][
    "user_id"
].nunique()
paying_users_count = purchase_2018["user_id"].nunique()
percent_of_paying_users = paying_users_count / training_choice_users_count
purchase_2018["event_type"] = 'purchase'
events_2018 = events_2018.rename(columns={"id": "event_id"})
purchase_2018 = purchase_2018.rename(columns={"id": "purchase_id"})
total_events_df = pd.concat([events_2018,purchase_2018],sort=False)
total_events_df = total_events_df.reset_index(drop=True).sort_values('start_time')
user_path_df = (
    total_events_df.groupby(["user_id"])["event_type"].apply(list).reset_index()
)
user_path_df["event_path"] = user_path_df["event_type"].apply(lambda x: " > ".join(x))
user_paths = (
    user_path_df.groupby(["event_path"])["user_id"]
    .nunique()
    .sort_values(ascending=False)
)
registration_df = total_events_df[total_events_df['event_type'] == 'registration']
registration_df = registration_df[["user_id", "start_time"]].rename(
    columns={"start_time": "registration_time"})
tutorial_start_df = total_events_df[total_events_df['event_type'] == 'tutorial_start']
tutorial_start_df['user_id'].value_counts().mean()
tutorial_start_df_wo_duplicates = tutorial_start_df.sort_values(
    "start_time"
).drop_duplicates("user_id")
tutorial_start_df_wo_duplicates = tutorial_start_df_wo_duplicates[
    ["user_id", "tutorial_id", "start_time"]
].rename(columns={"start_time": "tutorial_start_time"})
merged_df = registration_df.merge(tutorial_start_df_wo_duplicates, on="user_id", how="inner")
merged_df["timedelta"] = (merged_df["tutorial_start_time"] - merged_df["registration_time"])
tutorial_finish_df = total_events_df[total_events_df["event_type"] == "tutorial_finish"]
first_tutorial_ids = tutorial_start_df_wo_duplicates["tutorial_id"].unique()
tutorial_finish_df = tutorial_finish_df[
    tutorial_finish_df["tutorial_id"].isin(first_tutorial_ids)]
tutorial_finish_df['user_id'].value_counts().mean()
tutorial_finish_df = tutorial_finish_df[["user_id", "start_time"]].rename(
    columns={"start_time": "tutorial_finish_time"}
)
merged_df_2 = tutorial_start_df_wo_duplicates.merge(
    tutorial_finish_df, on="user_id", how="inner"
)
merged_df_2["timedelta"] = (
    merged_df_2["tutorial_finish_time"] - merged_df_2["tutorial_start_time"]
)
merged_df_2.head()
level_choice_df = total_events_df[total_events_df["event_type"] == "level_choice"]
level_choice_df = level_choice_df[["user_id", "start_time"]].rename(
    columns={"start_time": "level_choice_time"}
)
merged_df_3 = registration_df.merge(level_choice_df, on="user_id", how="inner")
merged_df_3["timedelta"] = (
    merged_df_3["level_choice_time"] - merged_df_3["registration_time"]
)
tutorial_pack_df = total_events_df[total_events_df["event_type"] == "pack_choice"]
tutorial_pack_df = tutorial_pack_df[["user_id", "start_time"]].rename(columns={"start_time": "tutorial_pack_time"})
merged_df_4 = tutorial_pack_df.merge(level_choice_df, on="user_id", how="inner")
merged_df_4["timedelta"] = (
    merged_df_4["tutorial_pack_time"] - merged_df_4["level_choice_time"]
)
first_purchase_df = total_events_df[total_events_df['event_type'] == 'purchase']
print(first_purchase_df['user_id'].value_counts().mean())
first_purchase_df = first_purchase_df[['user_id', 'event_datetime']].rename(
    columns={'event_datetime': 'first_purchase_time'}
)
merged_df_5 = tutorial_pack_df.merge(first_purchase_df, on='user_id', how='inner')
merged_df_5['timedelta'] = (
    merged_df_5['first_purchase_time'] - merged_df_5['tutorial_pack_time']
)
print(merged_df_5['timedelta'].mean())
print(merged_df_5['timedelta'].describe())
users_with_finished_tutorial = total_events_df[
    total_events_df["event_type"] == "tutorial_finish"
]["user_id"].unique()
users_with_started_tutorial = total_events_df[
    total_events_df["event_type"] == "tutorial_start"
]["user_id"].unique()
set_users_with_started_tutorial = set(users_with_started_tutorial)
set_users_not_finished_but_started_tutorial = (
    set_users_with_started_tutorial.difference(set(users_with_finished_tutorial))
)
all_users = total_events_df["user_id"].unique()
set_all_users = set(all_users)
set_users_not_started_tutorial = set_all_users.difference(
    set_users_with_started_tutorial)
purchase_df_1 = purchase_df[purchase_df["user_id"].isin(users_with_finished_tutorial)]
purchase_df_2 = purchase_df[purchase_df["user_id"].isin(set_users_not_finished_but_started_tutorial)]
purchase_df_3 = purchase_df[purchase_df["user_id"].isin(set_users_not_started_tutorial)]
percent_of_purchase_3 = purchase_df_3["user_id"].nunique() / len(set_users_not_started_tutorial)

/var/folders/2t/41ymw9416szdry3f82rfxvr80000gn/T/ipykernel_20719/253431165.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_2018.start_time = pd.to_datetime(events_2018.start_time, format='%Y-%m-%dT%H:%M:%S')
/var/folders/2t/41ymw9416szdry3f82rfxvr80000gn/T/ipykernel_20719/253431165.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_2018.event_datetime = pd.to_datetime(purchase_2018.event_datetime, format='%Y-%m-%dT%H:%M:%S')
/var/folders/2t/41ymw9416szdry3f82rfxvr80000gn/T/ipykernel_20719/253431165.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_2018["event_type"] = 'purchase'

1.0
3 days 17:46:53.403125
count                         1600
mean        3 days 17:46:53.403125
std      2 days 04:37:20.225124289
min                0 days 00:44:50
25%         1 days 21:24:13.250000
50%         3 days 12:51:25.500000
75%         5 days 09:42:13.750000
max               10 days 18:33:59
Name: timedelta, dtype: object

In [ ]:
import pandas as pd
log=pd.read_csv('data/log.csv', header=None)
log.columns=['user_id', 'time', 'bet','win']
users = pd.read_csv('data/users.csv', sep='\t', encoding="koi8-r")
users.columns = ['user_id', 'email', 'geo']
users.user_id = users.user_id.apply(lambda x: x.lower())   
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
log.time = log.time.str.strip('[')
log['time'] = pd.to_datetime(log['time'], format='%Y-%m-%d %H:%M:%S')
log["bet"] = log["bet"].fillna(0)
log["win"] = log["win"].fillna(0)
log["net"] = log["win"] - log["bet"]
df = pd.merge(users, log, on='user_id')
min_2 = df[df.bet>0].groupby('user_id').time.min() 
min_1 = df[df.bet==0].groupby('user_id').time.min()
s = []
for i in (min_2-min_1):
    if not str(i)[0] == '-':
        s.append(i.days)
print(sum(s)/len(s))

49.05263157894737

In [ ]:
import pandas as pd
log = pd.read_csv("data/log.csv", header = None)
users = pd.read_csv("data/users.csv", sep="\t", encoding="koi8_r")
log = log[log.user_id != "#error"]
log.user_id = log.user_id.str.split(" - ").apply(lambda x: x[1])
log.columns = ["user_id", "time", "bet", "win"]
users.columns = ['user_id', 'email', 'geo']
users.user_id = users.user_id.apply(lambda x: x.lower())
log['time']=log['time'].str.replace('[','')
log["time"] = pd.to_datetime(log["time"])
log.dropna()
hour = log["time"].dt.hour
log["bet"] = log["bet"].fillna(0)
log["win"] = log["win"].fillna(0)
log["net"] = log["win"] - log["bet"]
lu=pd.merge(log, users, on='user_id') 
lu.info()

AttributeError: 'DataFrame' object has no attribute 'user_id'

In [ ]:
import pandas as pd
log=pd.read_csv('data/log.csv', header=None)
log.columns=['user_id', 'time', 'bet', 'win']
len(log.drop_duplicates(subset=['user_id', 'time']))

986

In [ ]:
import pandas as pd
sample = pd.read_csv("data/sample.csv")
sample.columns = ["name", "city", "age", "profession"]
sample4=sample[~sample.city.str.match("о", na=False)]
def age_category(age):
    if age < 23:
        return "молодой";
    elif 23 <= age > 35:
        return "средний";
    elif age > 35:
        return "зрелый"
sample['Age_category'] = sample.age.apply(age_category)

In [ ]:
import pandas as pd
users = pd.read_csv("data/users.csv", sep="\t", encoding="koi8_r")
users.columns = ["user_id", "email", "geo"]
users.email.unique()

array(['Accumanst@gmail.com', 'Advismowr@mail.ru', 'Anachso@ukr.net',
       'Antecia@inbox.ru', 'Balliaryva@ukr.net', 'Bigbytech@rambler.ru',
       'Billionon@rambler.ru', 'BloggerJan@yahoo', 'Blueterva@ya.ru',
       'Bootrasync@ukr.net', 'Borgueriac@ukr.net', 'Boxfixiteicloud.com',
       'BraceWalker@bk.ru', 'Bradleyerat@rambler.ru', 'BullSpice@ukr.net',
       'ByteTale@gmail.com', 'CapoGrand@rambler.ru', 'Cavotin@bk.ru',
       'Chapterpl@yahoo.com', 'Chicapplin@gmail.com',
       'Chikkaverle@icloud.com', 'Cincomphite@mail.ru',
       'Decitere@mail.ru', 'DirtyChiri@ya.ru', 'Ever2free@inbox.ru',
       'Exploator@ukr.net', 'EyesRae@inbox.ru', 'Fainvenu@icloud.com',
       'FestiveAway@inbox.ru', 'Foreveracis@rambler.ru',
       'ForlifeLatest@yahoo.com', 'FraserBlue@mail.ru',
       'Freenson@inbox.ru', 'GazetteWas@yandex.ru', 'GlitzDas@yahoo.com',
       'Gloxixir@ya.ru', 'Goriness@rambler.ru', 'Granilabe@inbox.ru',
       'Grundymeat@ya.ru', 'Haystenvi@yandex.ru', 'Hetstact@yandex.ru',
       'Hostener@gmail.com', nan, 'Infernody@ya.ru', 'Inserex@inbox.ru',
       'Jectiolo@gmail.com', 'JimGlitz@ya.ru', 'Kalismed@bk.ru',
       'Kenjinxte@rambler.ru', 'Kinkenbo@mail.ru',
       'Kittysineos@rambler.ru', 'Knightstra@icloud.com',
       'Kryptoburs@yahoo.com', 'Lassour@ukr.net', 'Latinarysa@rambler.ru',
       'Lessomaire@rambler.ru', 'Lipsxiptp@yahoo.com',
       'Loqutio@yandex.ru', 'Lyfernozoi@inbox.ru', 'Magazineli@ya.ru',
       'Magazinetc@yahoo.com', 'Mailitry@ya.ru', 'Manionoe@ukr.net',
       'MediaLead@rambler.ru', 'MoPoet@yahoo.com', 'Muchiple@yahoo.com',
       'NumClear@bk.ru', 'NumTrendy@mail.ru', 'Paleoso@ukr.net',
       'Paviatery@ukr.net', 'Peytzke@mail.ru', 'Pinkelysi@ya.ru',
       'PleasantKeeper@ukr.net', 'PongCute@mail.ru',
       'Prestigenp@inbox.ru', 'PricelessJuz@rambler.ru', 'Prinesbr@bk.ru',
       'RosesTight@gmail.com', 'Roycess@rambler.ru',
       'Sandpoist@gmail.com', 'Schwire@bk.ru', 'Seenomvura@yahoo.com',
       'ShardDivision@icloud.com', 'Sianscot@yandex.ru',
       'Somberyant@mail.ru', 'SpyderSpin@bk.ru', 'Stacile@yahoo.com',
       'Stargalux@gmail.com', 'Styledget@rambler.ru',
       'Sumollerno@inbox.ru', 'SupremeSynchro@rambler.ru',
       'Therick@yahoo.com', 'Topictition@rambler.ru', 'Transky@yandex.ru',
       'Trantawe@yandex.ru', 'UpdatesCurious@yahoo.com',
       'V2artierso@mail.ru', 'Vashoterlo@bk.ru', 'Visuareda@yahoo.com',
       'Aavast@ya.ru'], dtype=object)

In [743]:
import json
from pprint import pprint
with open("data/recipes.json") as f:  # Открываем файл и связываем его с объектом "f"
    recipes = json.load(f)
cuisines = [] # создаём пустой список для хранения уникальных значений кухонь
for recipe in recipes: # начинаем перебор всех рецептов
    if not(recipe['cuisine'] in cuisines): # если тип кухни текущего блюда ещё не встречался
        cuisines.append(recipe['cuisine']) # добавляем его к списку cuisines
valreccuisine = {} # Создаём пустой словарь для хранения информации об количествах рецептов в каждой кухне
for item in cuisines: # Перебираем список кухонь
    valreccuisine[item] = 0 # Добавляем в словарь ключ, соответствующий очередной кухне
for recipe in recipes: # Перебираем список рецептов
    valreccuisine[recipe['cuisine']] += 1 # Увеличиваем значение нужного ключа в словаре на 1
            
print(max(valreccuisine, key=valreccuisine.get))

italian

In [749]:
import xml.etree.ElementTree as ET
new_root = ET.Element('menu')
dish1 = ET.SubElement(new_root, 'dish', name='Кура')
dish2 = ET.SubElement(new_root, 'dish', name='Греча')
price1 = ET.SubElement(dish1, "price").text = "40"
weight1 = ET.SubElement(dish1, "weight").text = "300"
class1 = ET.SubElement(dish1, "class").text = "Мясо"
price2 = ET.SubElement(dish2, "price").text = "20"
weight2 = ET.SubElement(dish2, "weight").text = "200"
class2 = ET.SubElement(dish2, "class").text = "Крупа"
for dish in new_root:
    for param in dish:
        print(dish.attrib['name'], param.tag, param.text)
    print()
new_root_string = ET.tostring(new_root)
with open("new_menu.xml", "wb") as f:
    f.write(new_root_string)

Кура price 40
Кура weight 300
Кура class Мясо

Греча price 20
Греча weight 200
Греча class Крупа